.sidebar-header {
  overflow: hidden;
  display: flex;
  max-width: 100%;
  padding: 10px 10px 0 0;
  background-color: rgb(72, 66, 109);
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #bfbfbf;
}

.menu-toggle {
  color: #bfbfbf;
  display: flex;
  align-self: center;
  height: 50%;
}

.chat-search {
  width: 100%;
  flex-wrap: wrap;
}
